.vs/
CrossPlatformDeprecate/RayTracer/RayTracer.Base/bin
CrossPlatformDeprecate/RayTracer/RayTracer.Base/obj
CrossPlatformDeprecate/RayTracer/RayTracer/bin
CrossPlatformDeprecate/RayTracer/RayTracer/obj
CrossPlatformDeprecate/RayTracer/RayTracer.Desktop/bin
CrossPlatformDeprecate/RayTracer/RayTracer.Desktop/obj
RayTracer/RayTracer/bin
RayTracer/RayTracer/obj
RayTracer/packages
CppRewrite/JuceLibraryCode
CppRewrite/Builds